* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    background: #0e0a07;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 36px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 88px;
}

.header-logo {
    font-weight: 800;
    font-size: 29px;
    line-height: 153%;
    color: #fff;
}

.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    list-style: none;
}

.header-btn {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    background: #FA9021;
    padding: 10px 28px;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
}

body {
    background: #050505;
    color: #fff;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.left {
    max-width: 520px;
}

.left .tag {
    color: #ff8c1a;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}



.right {
    position: relative;
}

.controller {
    width: 420px;
    filter: drop-shadow(0 25px 50px rgba(0, 0, 0, 0.7));
}

.curve {
    position: absolute;
    right: 120px;
    top: -150px;
    width: 140px;
    height: 600px;
    border-right: 5px solid #fff;
    border-radius: 100px;
    opacity: .8;
}

.tag {
    font-weight: 700;
    font-size: 20px;
    line-height: 155%;
    color: #E87D0E;
}

.tag-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 155%;
    color: #FFFFFF;
    width: 480px;
    margin-top: 17px;
    margin-bottom: 26px;
}

.tag-text {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 200%;
    letter-spacing: 0%;
    width: 527px;
    margin-bottom: 50px;
}

.main-btn {
    font-weight: 500;
    font-size: 16px;
    background: #FA8305;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
}

.followers-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    /* max-width: 1100px; */
    margin: 0 auto;
}


.followers-card {
    flex: 1;
    /* max-width: 250px; */
}

.followers-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin-bottom: 15px;
}


.followers-text {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.followers-header {
    display: flex;
    justify-content: space-between;
    padding: 57px 0;
}

.wrap-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.wrap-btn {
    background-color: #2a2a2a;
    color: #ffffff;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.lorem-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lorem-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 188%;
    text-align: center;
    width: 826px;
    color: #FFFFFF;
    margin-bottom: 67px;
    margin-top: 129px;
}

.lorem-titled {
    font-weight: 600;
    font-size: 30px;
    line-height: 188%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 209px;
    margin-bottom: 32xpx;
}

.lorem-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0%;
    width: 545px;
    color: #FFFFFF;
    margin-bottom: 46px;
}

.lorem img {
    width: 100%;
    padding-bottom: 157px;
}

.project-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 148px;
}

.project-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 188%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.project-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 188%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    width: 497px;
    margin-bottom: 71px;
}

.project-image {
    width: 350px;
    height: 300px;
}

.project-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-btn {
    background-color: #2a2a2a;
    color: #ffffff;
    border: none;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    margin: 72px 0;
}

.project-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stay-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stay-title {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 30px;
    line-height: 188%;
    color: #FFFFFF;
}

.stay-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    width: 545px;
    color: #FFFFFF;
    margin-bottom: 72px;
}

.form-wrapper {
    margin: 74px 0 160px;
    background: #1C140F;
    padding: 40px 56px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-text {
    width: 500px;
    margin-top: 10px;
}

form {
    background: #FFFFFF;
    width: 360px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
}

.form-btn {
    padding: 8px 12px 9px 22px;
    background: #DC7000;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    margin: 8px;
    border-radius: 8px;
}

input{
    padding: 4px 22px;
    border: none;
    outline: none;
}
